<div class="overlay"></div><!-- Search  -->
<div class="search-bar">
    <div class="search-icon"> <i class="material-icons">Ara</i> </div>
    <input type="text" placeholder="Aranacak Kelimeler...">
    <div class="close-search"> <i class="material-icons">Kapat</i> </div>
</div>