
@{
    Layout = null;
}

<!doctype html>
<html class="no-js " lang="en">
@await Component.InvokeAsync("_AdminLayoutHeadComponentPartial") <!--Burada Admin Layout Head Component Kodlarını tuttuk yani css linklerini tuttuk -->
<body class="theme-orange">
    <!-- Page Loader -->
    @await Component.InvokeAsync("_AdminLayoutPageLoaderComponentPartial") <!--Burada Admin Layout Page Loader Component Kodlarını tuttuk yani sayfa yüklenirken gösterilen animasyon kodlarını tuttuk -->
    <!-- Overlay For Sidebars -->
    @await Component.InvokeAsync("_AdminLayoutSearchComponentPartial") <!--Burada Admin Layout Search Component Kodlarını tuttuk yani arama çubuğu kodlarını tuttuk -->
    <!-- Top Bar -->
    @await Component.InvokeAsync("_AdminLayoutNavbarComponentPartial") <!--Burada Admin Layout Navbar Component Kodlarını tuttuk yani üst menü kodlarını tuttuk -->
    <!-- Left Sidebar -->
    @await Component.InvokeAsync("_AdminLayoutSidebarComponentPartial") <!--Burada Admin Layout Sidebar Component Kodlarını tuttuk yani sol menü kodlarını tuttuk-->

    <!-- Right Sidebar -->
    <br />
     @RenderBody()  <!--Burada sayfa içeriği gelecek -->
    <!-- Jquery Core Js -->
    @await Component.InvokeAsync("AdminLayoutScriptsComponentPartial") <!--Burada Admin Layout Scripts Component Kodlarını tuttuk yani js dosyalarını tuttuk -->
</body>
</html>